body {
    background-color: #152d47;
    color: white;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
    
}


.TASK { /* Para las tareas creadas*/
    background-color: #0A0F17;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border-radius: 45px;
    border: 2px solid dodgerblue;
    display: block;
    position: relative;
    height: auto;
    width: 250px;
    text-align: center;
    padding: auto;
}


.TASK progress{
    border: 2px solid white;
    border-radius: 10px;
}

.TASK progress[value]::-webkit-progress-bar{
        background: none;
}


.TASK progress[value]::-webkit-progress-value {
    border-radius: 10px;
    background-color: #00f929;
}

.TASK h2{ /* Para las tareas creadas*/
    font-size: 13px;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.login{
    text-align: center;
    align-content: center;
    background-color: #0A0F17;
    border-radius: 45px;
    border: 2px solid dodgerblue;
    width: 210px;
    box-sizing: border-box;
    padding: 18px;
    padding-top: 5px;
    margin: 0px;
    padding-bottom: 0;
    display:none;
}

.login .element{
    position:relative;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 25px;
    
}

.login > form h2{
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}


.login .element input{
    height: 30px;
    width: 100%;
    padding-left: 5px;
    padding-top: 3px;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    background: none;
    border: 2px solid dodgerblue;
    color:white;
}

.login .element span{
    color:white;
    position: absolute;
    bottom :20px;
    left: -2px;

    background-color: #0A0F17;
    border-radius: 15px;
    padding: 5px;
}


.login .element-button button{
    background: none;
    border: 2px solid dodgerblue;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.login .element-button button:hover{
    transform: scale(1.025);
        border-color: white;

}

#login{
    width: 120px;
    padding: 5px;
    background-color: #0A0F17;
    height: auto;
    border-radius: 15px;
    text-transform: uppercase;
    border:2px solid dodgerblue;
    color: white;
    font-size: 15px;
}

div[id="TASK_area"]{
    margin-top: 15px;
    
}
#login:hover {
background: #434343;
letter-spacing: 1px;
transition: all 0.4s ease 0s;
}