th {
			background-color:#006699;
			color:#fff;
			width:30px;
}

#calendar{
    z-index: 2;
    display:none;
      position: absolute;
      cursor: pointer;
    border : 2px solid dodgerblue;
    background-color: #0A0F17;
}
caption p{
    border-radius: 50px;
    border: solid 2px white;
    display: inline-block;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;

}

#calendar div{
    background-color: #0A0F17;
    border-radius: 15px;
}

#calendar tr.days td{
      border: 2px solid dodgerblue;
        border:collapse;
       height: auto;
    width: 50px;
    background-color: #0A0F17;
    color : white;

}

#calendar #hoy{
    border-radius: 50px;
    background-color:#4f9da6;
    padding-left: 5px;
    padding-right: 5px;

}

#calendar #hoy:hover{
    color : white;
}

input[id="daypicker"]{
    display:block;
}

td:hover{
    color : white;
}

#calendar td {
        border-radius: 10px;
    text-align: center;
}

#calendar {
    border-radius: 10px;
    background-color:#0A0F17;
    color : white;
}

#calendar caption{
    color : white;
    border-radius: 10px;
          border: 1px solid dodgerblue;
    background-color: #0A0F17;
}

#calendar th{
    border-radius: 20px;
    background-color: #0A0F17;
    border: solid 2px dodgerblue;
    color : white;
    
}

th{
    background-color: white;
}


#calendar span[class="arrow"]:hover{    
    color : white;
}
