/* Estilo en general de la tabla*/
#calendar {
    z-index: 2; /* Para superponer el calendario ante todos los elementos al mostrarse*/
    display:none; /* Oculto al incio*/
    position: absolute; /* Mostrar como "popup" alado del elemento*/
    cursor: pointer; /* Cambia el cursos al dedito*/
    border : 2px solid dodgerblue;  /* Borde de los elementos azul*/
    background-color: #0A0F17; /* Background general  */
    color:white; /* Color de las letras dentro de la tabla */
    border-radius: 15px; /* Radio del los bordes*/
    border:collapse; /* Estilo del border */
}

/* Titutlo */
#calendar caption{
    border-radius: 10px; /* Radio Borde */
    border: 1px solid dodgerblue; /* Color de Borde */
    background-color: #0A0F17;
}

#calendar caption p{ /* Para el titulo */
    margin: 2px 2px 2px 2px; /* Espaciado al caption */
    padding: 2px 2px 2px 2px;   
}

/* Para los dias*/
#calendar tr.days > td{
    border: 2px solid dodgerblue; /* Bordes color azul */
    width: 50px; /* tamaño de las celdas dias */
}

#calendar #hoy{ /* Dia actual*/
    border-radius: 50px;    /* Borde elemento hoy */
    background-color:#4f9da6; /* Color de fondo dia actual */
    padding-left: 5px;  /* Espaciado */
    padding-right: 5px;
}

/* Sobre el dia actual*/
#calendar #hoy:hover{
    color : dodgerblue; /* Cambia el color dia actual*/
}

td:hover{ /* Sobre una celda*/
    color : dodgerblue; /* Color numeros en el dia */
}


#calendar td { /* Celdas en el calendario*/
    border-radius: 10px; /* Bordes para las celdas */
    text-align: center; /* Ajuste de texto*/
}

/* Cambiar mes*/
#calendar th{
    border-radius: 10px; /* Borde */
    border: solid 2px dodgerblue;
}

/* Sobre flechas*/
#calendar span[class="arrow"]:hover{    
    color : dodgerblue; /* Color */
}
